body{ background-color: rgb(94, 255, 255);}

h1{ color:rgb(229, 255, 0);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align:center;
font-size:69px;
font-weight: bold;}

.doggo 
{display:block;
margin-left: auto;
margin-right: auto;
width: 35%;}

.pork {text-align: right;
font-size: 30px;

  }

.chicken {text-align: left;
    font-size: 30px;}

.wok {text-align: center;
    font-size: 30px;}