body{ background-color: rgb(94, 255, 255);}

h1{ color:rgb(229, 255, 0);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align:center;
font-size:69px;
font-weight: bold;}

p{color: rgb(69, 5, 82);
text-align: right;
}
